.converter {
  margin: 0 auto;
}
.converter h4 {
  margin-bottom: 1rem;
}

.currency-row h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.currency-row .input,
.currency-row select {
  font-size: 1rem;
  border: 1px solid black;
  width: 7rem;
  padding: 0.8rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.currency-row select {
  margin-left: 1.5rem;
}

.currency-row .equals {
  font-weight: bold;
  font-size: 3rem;
}

.converterBtn {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
